body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
    
  }

/*== Fullscreen Height ==*/
.fullscreen {
    min-height: 100vh !important;
  }
  
  /*== Fullscreen Height ==*/
  .fullscreen-with-header {
    min-height: calc(100vh - 67px) !important;
  }


/*=== 5.6 Hero Background ===*/
.hero-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .hero-wrap .hero-mask, .hero-wrap .hero-bg, .hero-wrap .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .hero-wrap .hero-mask {
    z-index: 1;
  }
  
  .hero-wrap .hero-content {
    position: relative;
    z-index: 2;
  }
  
  .hero-wrap .hero-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  
  .hero-wrap .hero-bg-slideshow {
    z-index: 0;
  }
  
  .hero-wrap .hero-bg {
    z-index: 0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
  }
  
  .hero-wrap .hero-bg.hero-bg-scroll {
    background-attachment: scroll;
  }
  
  .hero-wrap .hero-bg-slideshow .hero-bg {
    background-attachment: inherit;
  }
  
  .hero-wrap .hero-bg-slideshow.owl-carousel .owl-stage-outer, .hero-wrap .hero-bg-slideshow.owl-carousel .owl-stage, .hero-wrap .hero-bg-slideshow.owl-carousel .owl-item {
    height: 100%;
  }
  
  
  .profile-small{
    width: 280px;
  }

  .profile-description{
    font-family: cursive;
    font-weight: 600;
    color: white;
  }
  .profile-fullname {
    font-family: cursive;
    font-weight: 600;
    font-size: 32px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 80;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar li:last-child {
    margin-right: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #555;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link.active {
    text-decoration: underline solid #3bba9c 10%;
    color: #fff;
  }

  .navbar a{
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar ul li a:hover{
    text-decoration: underline solid #3bba9c 10%;
  }

  .section {
    position: relative;
    padding: 6.5rem 0;
    overflow: hidden;
  }
  
  @media (max-width: 767.98px) {
    .section {
      padding: 3.5rem 0;
    }
  }
  
  .title-badge{
    font-size: 15px;
    background: #3c3f58;
    color: white;
    padding: 10px 15px;
    font-weight: 400;
  }

  .about-heading {
    margin-top: 10px;
    margin-bottom: 80px;
    font-weight: bold;
  }

  .years-of-experience-badge {
    font-size: 100px;
    margin-bottom: 10px;
    background: #3c3f58;
  }

  .years-of-experience-text {
    font-size: 18px;
    font-weight: 600;
  }

  .years-of-experience-text span {
    font-size: 18px;
    font-weight: bolder;
  }

  .self-introduction {
    font-weight: 400;
  }
  
  .span-name{
    text-decoration: underline solid #3bba9c 10%;
    font-weight: bold;
  }

  .self-description{
    text-align: start;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .about-btn {
    position: relative;
    overflow: hidden;
  }
  
  .about-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
  }
  
  .about-btn:hover::before {
    transform: scaleX(1);
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white url('../images/preloading.gif') no-repeat center center;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body.loaded #preloader {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  }

  .services-description{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }

  .services-header{
    margin-bottom: 60px;
  }
  
  .skill-item {
    margin-bottom: 20px;
  }
  
  .skill-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .progress {
    height: 10px;
  }
  
  .progress-bar {
    background-color: #1da50c;
  }
  
  .skill-percentage {
    font-size: 14px;
    font-weight: bold;
  }

  .skills-header {
    text-align: center;
    position: relative;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: cursive;
  }
  
  .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #3bba9c;
    border-radius: 10px;
  }

.resume-header{
  margin-bottom: 70px;
}

.resume-card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.resume-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px; /* Adjust the width as needed */
  height: 100%;
  background-color: #707793; /* Add your desired color */
  border-radius: 4px;
}

.resume-card:hover {
  transform: translateY(-5px);
}

.resume-card-header {
  padding: 20px;
}

.resume-card-body {
  padding: 20px;
}

.resume-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.resume-title {
  font-size: 24px;
  font-weight: 500;
}

.resume-subtitle {
  font-size: 18px;
  font-weight: bold;
  color: #777;
}

.resume-date {
  color: #777;
  margin-bottom: 10px;
}

.resume-description {
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: start;
  align-items: start;
}

.social-icon {
  color: white;
  font-size: 35px;
  margin-right: 15px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  color: #3bba9c;
  transform: scale(1.2);
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 30px; /* Adjust the margin between cards */
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  position: relative;
  height: 100%; /* Ensure the image covers the entire card */
  cursor: pointer;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image cover the entire space without distortion */
  filter: brightness(0.7); /* Adds a darker effect to the image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project-card:hover .project-info {
  opacity: 1;
  transform: translateY(0);
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
}

.large-card {
  height: 400px;
}

.medium-card {
  height: 400px;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  position: relative;
  max-width: 70%;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: -40px;
  right: -25px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.cta-button .cv-button {
  background-color: #43455c;
  color: #fff;
}
.cta-button .cv-button a{
  text-decoration: none;
  color: #fff;
}

.cta-button button:hover {
  transform: scale(1.05);
}

.cta-button button:active {
  transform: scale(0.95);
}

.cta-button button:focus {
  box-shadow: 0 0 0 3px #707793;
}

.project-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.project-card {
  flex-basis: calc(30% - 25px); /* Adjust the width as needed */
  background-color: transparent;
  border: 2px solid #707793;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-title-stats {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-number {
  font-size: 35px;
  font-weight: bold;
  color: #3bba9c;
}

.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #1e528e;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #3c3f58;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble .bubble-arrow {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
}
.bubble cite {
	padding-left: 20px;
	font-size: 1.25em;
  color:#f7f7f7;
}
.bubble p {
	padding-left: 20px;
	font-size: 15px;
  color:#f7f7f7;
}

.profile-circle {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
  margin: 25px auto 0 auto;
}

.profile-image {
  width: 170px;
  height: 170px;
  border: 3px solid #3c3f58;
  transition: transform 0.3s ease;
}

.profile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-name {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-circle:hover .profile-image {
  transform: scale(1.1);
}
.profile-medium {
  width: 450px;
  height: 200px;
}
.profile-circle:hover .profile-overlay {
  opacity: 1;
}

.profile-circle:hover .profile-name {
  opacity: 1;
}

.client-header{
  margin-bottom: 4rem;
}

.contact-title {
  margin-bottom: 20px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

textarea.form-control {
  resize: none;
}

.button-contactForm {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-contactForm:hover {
  background-color: #0056b3;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info__icon {
  font-size: 20px;
  margin-right: 15px;
  color: #007bff;
}

.contact-details h3 {
  margin-bottom: 10px;
}

.contact-details p {
  margin-bottom: 0;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Form Styling */
textarea.form-control,
input.form-control {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

textarea.form-control {
  height: 150px;
}

.form-group {
  margin-bottom: 20px;
}

.button-contactForm {
  background-color: #3c3f58;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-contactForm:hover {
  background-color: #707793;
}

.contact-info {
  margin-bottom: 40px;
}

.contact-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info__icon {
  font-size: 24px;
  color: #3c3f58;
  margin-right: 10px;
}

.contact-info__details {
  color: #333;
}

.contact-info__details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-info__details p {
  margin-bottom: 0;
}

.contact-info__social {
  margin-top: 20px;
}

.contact-info__social-link {
  display: inline-block;
  font-size: 20px;
  color: #3c3f58;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.contact-info__social-link:hover {
  color: #707793;
}

.contact-header{
  margin-bottom: 80px;
}

